$colorWhite: #ffffff;
$colorBlue: #1753b3;
$colorGrey: #333d47;
$colorLightGrey: #afb7bf;

@mixin flex($ai: normal, $jc: flex-start, $fd: row) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: $colorGrey;
}

.hidden {
  display: none !important;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header {
  background: #225fbf;
  border-bottom: 4px solid $colorBlue;
  width: 100%;
  height: 68px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
  @include flex(center, space-between);
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px 16px 18px 15.62px;
}

.header-title {
  @include flex($fd: column);
  margin-right: 16px;
}

.nav-container {
  @include flex(center);

  div {
    @include flex(center, center);
    width: 106px;
    height: 68px;

    &:not(:last-child) {
      margin-right: 52px;
    }

    &:last-child a {
      margin-right: 4px;
    }

    a {
      text-decoration: none;
      font-size: 13px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.active-nav-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 106px;
  height: 4px;
  margin-top: 68px;
  background: #5495ff;
  border-radius: 3px;
}

.header-user-bar {
  @include flex(center);
}

.header-message,
.header-turn-off {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: $colorBlue;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s;
}

.header-message:hover,
.header-turn-off:hover {
  transform: scale(1.04);
}

.header-user-info {
  @include flex(center, space-between);
  background-color: $colorBlue;
  padding: 0 18px 0 2px;
  height: 32px;
  border-radius: 50px;
  margin: 0 32px 0 16px;
  cursor: pointer;

  div {
    color: $colorWhite;
    padding-left: 15px;
    text-transform: uppercase;
  }

  img {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
}

.main {
  background: #f6f8fd;
  width: 100%;
  min-height: 100vh;
}

.main-container {
  width: 100%;
  max-width: 1202px;
  height: 100%;
  margin: 0 auto;
  padding: 27px 16px 27px 16px;
  display: flex;
}

.search-bar {
  width: 100%;
  max-width: 370px;
  height: 100%;
  margin-right: 30px;
}

.search-setup {
  @include flex();
  width: 100%;
  height: 24px;
  margin: 0 0 16px 0;

  div a {
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $colorLightGrey;
    margin-right: 24px;
  }
}

.active-search-link {
  color: $colorGrey !important;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 95px;
    height: 3px;
    margin-top: 14px;
    background: #5495ff;
    border-radius: 3px;
  }
}

.search-panel {
  width: 100%;
  max-width: 370px;
  min-height: 130px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(32, 75, 146, 0.15);
  border-radius: 5px;
  padding: 24px 26px 23px 24px;
}

.search-input-container {
  @include flex($ai: center);
  background: #ffffff;
  border: 1px solid #dae1e8;
  border-radius: 4px;
  padding: 6px 10px;
  margin-bottom: 11px;
  width: 320px;
  height: 36px;
}

.search-btn {
  @include flex(center, center);
  background: #5495ff;
  border-radius: 3px;
  border: none;
  width: 320px;
  height: 36px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $colorWhite;
  transition: 0.1s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  }
}

.search-input {
  width: 100%;
  border: none;
  margin-left: 9px;
  outline: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.006em;

  &::-webkit-input-placeholder {
    color: $colorLightGrey;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

div.row-style {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  gap: 0;
}

.employee-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-bottom: 16px;
}

.employees-bar {
  width: 100%;
}

.employees-bar-header {
  @include flex(center, space-between);
  width: 100%;
  height: 24px;
  margin-bottom: 16px;
}

.employees-displayed {
  font-size: 13px;
  line-height: 15px;
  color: #636c75;
}

.employee-card {
  width: 250px;
  height: 290px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(32, 75, 146, 0.15);
  border-radius: 5px;
  padding: 20px 35px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 1px 3px rgba(32, 75, 146, 0.5);
  }
}

.card-name-container {
  text-align: center;
  width: 100%;
  margin-bottom: 52px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 180px;
    height: 2px;
    margin-top: 32px;
    background: #eceff1;
  }
}

.card-name-en {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 6px;
}
.card-name-ru {
  font-size: 13px;
  line-height: 15px;
  color: $colorLightGrey;
}

.card-name-ru-row {
  font-size: 13px;
  line-height: 15px;
  color: $colorLightGrey;
  margin-top: 4px;
  margin-bottom: 11px;
}

.office-location {
  @include flex(center);
}

.office-room,
.office-department {
  @include flex(center);
  font-size: 12px;
  line-height: 15px;
}

.office-room img,
.office-department img {
  margin-right: 6px;
}

.office-department {
  margin-right: 28px;
}

.not-found-card {
  @include flex(center, flex-start, column);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(32, 75, 146, 0.15);
  border-radius: 5px;
  width: 770px;
  height: 456px;

  svg {
    width: 240px;
    height: 200px;
    margin-top: 76px;
    border: 1px dashed #b6b6b6;
  }

  div {
    width: 240px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;

    &:last-child {
      font-size: 13px;
      line-height: 18px;
      color: #818d99;
      opacity: 0.7;
      margin-top: 7px;
    }
  }
}

.view-bar svg {
  cursor: pointer;
}

.row-info-container {
  @include flex(center, center);
  margin-right: 32px;

  div {
    font-size: 12px;
    line-height: 16px;
    margin-left: 7px;
  }
}

.employee-img-row {
  width: 52px;
  height: 52px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-right: 15px;
}

.row {
  display: flex;
  width: 100%;
  height: 101px;
  padding: 15px;
  border: 1px solid #e9edf2;
  background: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.05s;

  &:hover {
    transform: scale(1.015);
    box-shadow: 0 1px 3px rgba(32, 75, 146, 0.6);
  }
}

.row-container {
  @include flex(normal, flex-start, column);
}
.row-container-info {
  display: flex;
}

.svg-active path {
  stroke: #225fbf;
}
