$colorWhite: #ffffff;
$colorBlue: #1753b3;
$colorGrey: #333d47;
$colorLightGrey: #afb7bf;

@mixin flex($ai: normal, $jc: flex-start, $fd: row) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: $colorGrey;
}

.hidden {
  display: none !important;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
